<html>
    <head>
        <meta charset="utf-8">        
        <link href="css/app.css" rel="stylesheet" type="text/css">
    </head>
    <body>           
        <div id="app">
            {{ message }}
        </div>
    </div>
        <script type="text/javascript" src="js/vue/app.js" charset="utf-8"></script>
        <!-- <script type="text/javascript" src="js/react/app.js" charset="utf-8"></script> -->
    </body>
</html>